#FO-main{
    background-color: rgba(235, 181, 100, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    a{
        margin-right: 10px;
    }
}