#FI-main{
    display: flex;
    flex-direction: row;
    align-items: left;
    width:600px;
    margin: 10px;

    img{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

#FI-left{
    margin-right: 10px;

    a{
        &:hover{
            opacity: 0.6;
        }
    }
}

#FI-right{
    h2{
        font-variant: small-caps;
        margin: 0px;
    }
}

#FI-dates{
    font-weight: 300;
    margin: 0px;
}

@media (max-width: 1000px) {
    #FI-main{
        width: auto;
        margin: 2px;
    }
}