@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #FBFBFD;
}

.elem-show{
    opacity: 0%;
    transition: all 2s;
}

.elem-show-anim{
    opacity: 100%;
}