#WL-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
    height: 700px;
    h1{
        font-variant: small-caps;
    }
}

#WL-wl{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    width: 88%;
    padding-right: 6%;
    padding-left: 6%;
    background-image: url("../img/Polygon Luminary(1).svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

#WL-sum{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 88%;
    padding-right: 6%;
    padding-left: 6%;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("../img/Polygon Luminary(1).svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;

    img{
        width: 100px;
        height: 100px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

#WL-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
    color: white;
    a{
        background-color: rgba(8, 19, 63, 1);
        border: 1px solid rgb(235, 181, 100);
        border-radius: 5px;
        padding-right: 2px;
        padding-left: 2px;
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
        width: 90px;
        transition: width 0.5s;
        color: rgb(235, 181, 100);

        &:hover{
            width: 110px;
            background-color: rgb(235, 181, 100);
            cursor: pointer;
            color:rgba(8, 19, 63, 1);
        }
    }
}

#WL-ds, #WL-ml{
    display: flex;
    flex-direction: row;
    width: 44%;
}

#WL-description{
    display: flex;
    flex-direction: column;
    padding-left: 40px;

}

@media (max-width: 1000px) {
    #WL-main{
        height: auto;
    }
    #WL-wl{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    #WL-img{
        display: none;
    }
    #WL-text{
        margin-top: 40px;
        margin-bottom: 40px;
        h1{
            font-size: 50px;
        }
        a{
            width: 90%;
            &:hover{
                width: 100%;
            }
        }
    }
    #WL-sum{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: auto;
    }
    #WL-ds, #WL-ml{
        width: 100%;
    }
    #WL-description{
        h1{
            margin-bottom: -10px;
        }
    }
}